body {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%),
    url('http://0.0.0.0:8000/static/img/death_star.png');
    /*background-image: url('http://0.0.0.0:8000/static/img/death_star_dark.jpg');*/
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    /*background-size: cover;*/
    /*background-size: contain;*/
    background-size: contain;
}

.button-margin {
    margin-bottom: 10px;
}

.planet-list, h1 {
    color: white;
}
