body {
    margin:0;
    padding:0;
    background:url("http://0.0.0.0:8000/static/img/death_star_dark.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.button-margin {
    margin-bottom: 10px;
}

.planet-list, h1 {
    color: white;
}
